:root {
    --blue:#0088CC;
    --lightBlue : #BDE1EE;
    --darkGray :#222529;
    --lightGray : #bdc1c2;
    --black:#000000;
    --white :#fff;
    --addtocard :#6F7174;
    --yellow : #f2d706;
    --cardBackground:#d8dadc;
}